.card-container {
    width: 300px;
    height: 450px;
  
    margin: 10px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .card-id {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 3px;
    font-family: Book Antiqua;
  }s
  
  .card-nome {
    display: inline;
    border-bottom: 1px solid #000000;
    margin-left: 20px;
    margin-top: 20px;
    font-style: bold;
    border-radius: 5px;
    border-style: double;
  }
  
  .card-volume,
  .card-nota,
  .card-ranque{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .card-categoria{
    display: inline-block;
    font-style: italic;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
  }


  .card-status{
    float: right;
    border-bottom: 1px solid #000000;
  }

  .card-custo {
    float: right;
  }
  
  .card-container:hover {
    background-color: #ffffff89;
  }